
<div class="formulaire">
    <div class="entete">
        <h2>Modifier Autheur: {{auteur.nom |uppercase }}, {{auteur.prenom}}</h2>
        <button mat-fab color="primary" aria-label="Ajouter Auteur"(click)="retour()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form method="post" (ngSubmit)="onClickButton()" [formGroup]="modifierAutheurForm">
        <mat-form-field>
            <mat-label>Nom: {{auteur.nom}}</mat-label>
            <input matInput placeholder={{auteur.nom}} formControlName="nom" value="bidon">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prenom: {{auteur.prenom}} </mat-label>
            <input matInput placeholder={{auteur.prenom}} formControlName="prenom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Courriel: {{auteur.email}}</mat-label>
            <input matInput placeholder={{auteur.email}}  formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telephone: {{auteur.telephone}}</mat-label>
            <input matInput placeholder={{auteur.telephone}} formControlName="telephone">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Valider</button>
    </form>
</div>