<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="home">Accueil</button>
    <button mat-menu-item routerLink="menu-livres">Liste de livres</button>
    <button mat-menu-item routerLink="credit">Credits</button>
  </mat-menu>
  <span class="titre">La Bibliotheque</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="logIn">LogIn</button>
</mat-toolbar>

<router-outlet></router-outlet>
